[package]
name = "rostra-util"

description = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
version = { workspace = true }

[features]
default = []

[lints]
workspace = true

[dependencies]
snafu = { workspace = true }
