:root {
  --link-color: oklch(33.68% 0.1567 257.82);
  --link-hover-color: oklch(33.68% 0.1567 351.52);
  --layout-break-width: 768px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: 10%;
    --color-bg-inc: 2%;
    --color-fg: 90%;
    --color-fg-inc: -1%;

    --invert: 100%;

    /* --color-timeline-bg: #414141; */

    /* --color-timeline-item-border: #91919c; */
    --color-post-bg: #303030;

    --color-blockquote-bg: #f9fafb;

    --color-border: rgb(217, 217, 232);
    --color-text-input: var(--color-text-default);
    --quote-background-color: #0f0f0f;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: 97%;
    --color-bg-inc: -1%;
    --color-fg: 10%;
    --color-fg-inc: 1%;

    --invert: 0%;

    /* --color-timeline-bg: oklch(95.12% 0 117.53); */

    /* --color-timeline-item-border: rgb(217, 217, 232); */
    --color-post-bg: #f7f7f7;
    --color-blockquote-bg: #f9fafb;


    --color-border: rgb(217, 217, 232);
    --color-text-input: var(--color-text-default);
    --quote-background-color: #f9fafb;
  }
}

:root {
  --color-text-default: oklch(calc(var(--color-fg) + 2 * var(--color-fg-inc)) 0 0);
  --color-bg-default: oklch(var(--color-bg) 0 0);
  --color-pre-bg: oklch(calc(var(--color-bg) + 10 * var(--color-bg-inc)) 0 0);
  --color-text-input-bg: oklch(calc(var(--color-bg) + 3 * var(--color-bg-inc)) 0 0);
  --color-button-bg: oklch(calc(var(--color-bg) + 10 * var(--color-bg-inc)) 0 0);
  --color-button-bg-hover: oklch(calc(var(--color-bg) + 5 * var(--color-bg-inc)) 0 0);
  --color-button-border: oklch(calc(var(--color-bg) + 30 * var(--color-bg-inc)) 0 0);
  --color-button-border-hover: oklch(calc(var(--color-bg) + 25 * var(--color-bg-inc)) 0 0);
  --color-timeline-item-border: oklch(calc(var(--color-bg) + 10 * var(--color-bg-inc)) 0 0);
  --color-timeline-bg: oklch(calc(var(--color-bg) + 5 * var(--color-bg-inc)) 0 0);
  --color-post-highlight-bg: oklch(calc(var(--color-bg) + 8 * var(--color-bg-inc)) 0 0);
  --color-link: oklch(calc(var(--color-fg) + 15 * var(--color-fg-inc)) 0.4 30);
  --color-link-hover: oklch(calc(var(--color-fg) + 55 * var(--color-fg-inc)) 0.4 110);
}

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GLOBAL STYLE */

html {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: sans-serif;
  color: var(--color-text-default);
  background-color: var(--color-bg-default);
  line-height: 1.6;
  font-size: 16px;

  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.2;
  font-weight: 600;
}

h1 {
  font-size: 2.0rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.35rem;
}

h5 {
  font-size: 1.10rem;
}

h6 {
  font-size: 1rem;
}

blockquote {
  border-left: 4px solid #e5e7eb;
  margin: 1.0rem 0;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  background-color: var(--color-blockquote-bg);
  color: #4b5563;
}

pre,
code {
  background-color: var(--color-pre-bg);
  border-radius: 4px;
  padding: 4px 6px;
  font-size: 1rem;
  font-family: monospace;
}

button {
  font: inherit;
  cursor: pointer;
  color: var(--color-text-default);
  background: none;
  background-color: var(--color-button-bg);
  border: solid 1px;
  border-radius: 5px;
  border-color: var(--color-button-border);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover {
  background-color: var(--color-button-bg-hover);
  border-color: var(--color-button-border-hover);
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

textarea,
input[type="text"],
input[type="email"],
input[type="username"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="url"],
input[type="search"] {
  background-color: var(--color-text-input-bg);
  color: var(--color-text-input);


  font: inherit;
  cursor: pointer;
  color: var(--color-text-default);
  background: none;
  border: solid 1px;
  border-radius: 5px;
  border-color: var(--color-button-border);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  height: 1.75rem;
  padding: 0 .5rem;
}

a {
  color: var(--color-link);
  text-decoration: none;
  position: relative;
  transition: color 0.2s;
}

a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: currentColor;
  transform: scaleX(0);
  transition: transform 0.2s;
}

a:hover {
  color: var(--color-link-hover);
  /* Darker blue */
}

a:hover::after {
  transform: scaleX(1);
}


/* Active/clicked state */
a:active {
  color: red;
  /* Very dark blue */
}

img {
  max-width: 100%;
}


/* UTILITY CLASSES */
.u-tooltip:not(.shown) {
  display: none;
}

.u-button {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  min-width: 5rem;
  padding: 0.0rem .5rem;
}

.u-buttonIcon {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  filter: invert(var(--invert));
}

.u-userImage {
  width: 32pt;
  height: 32pt;
  display: inline-block;
}

[disabled]>.u-buttonIcon {
  opacity: 0.6;
}

.o-pageLayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.o-navBar {
  flex: 1;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 5pt;
  justify-items: flex-start;
}

@media (min-width: 768px
  /* var's dont work here */
) {
  .o-pageLayout {
    flex-direction: row;
  }

  .o-navBar {
    position: sticky;
    top: 0;
    align-self: start;
    max-width: 400px;
    padding: 10pt;
    padding-right: 5pt;
  }
}


.o-navBar__list {
  display: flex;
  gap: 4pt;
}

.o-navBar__item {
  display: block;
}

.o-navBar__header {
  font-weight: bold;
}

.o-mainBar {
  flex-grow: 1;
  max-width: 50rem;
  padding: 4pt;
  padding-top: 0;
  width: 100%;
}

.o-mainBar__newPostsAlert {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 150;
  background: white;
  padding: 4pt;
  border: 1px solid var(--color-timeline-item-border);
}

.o-mainBar__newPostsAlert.-hidden {
  display: none;
}

.o-mainBarTimeline {
  background-color: var(--color-timeline-bg);
  border: 1px solid var(--color-timeline-item-border);
  width: 100%;
}


.o-mainBarTimeline.-hideReplies .o-mainBarTimeline__item.-reply {
  display: none;
}

.o-mainBarTimeline__switches {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
}

/* Disable, until we figure out if we really want it. */
.o-mainBarTimeline__switches {
  display: none;
}

.o-mainBarTimeline__repliesLabel {
  font-weight: bold;
  padding: 4pt;
}

.o-mainBarTimeline__repliesToggle {
  padding: 4pt;
}

.o-mainBarTimeline__item.-empty {
  display: none;
}

@media (min-width: 768px
  /* var's dont work here */
) {
  .o-mainBarTimeline__item {
    padding: 1rem;
  }
}

/* Align post (non-replies) to where a root reply would be,
  to make visually parsing even easier. */
.o-mainBarTimeline__item.-post>.m-postOverview {
  padding-left: 2rem;
  padding-top: 1rem;
}

.o-mainBarTimeline__item.-preview .m-postOverview {
  opacity: 0.6;
}

.o-mainBarTimeline>.o-mainBarTimeline__item:not(:last-child) {
  border-bottom: 1px solid var(--color-timeline-item-border);
}

.o-mainBar__item {
  padding: 10pt;
  border-bottom: 1px solid gray;
}

.o-sideBar {
  /* flex: 1; */
  padding: 10pt;
}

.m-postOverview {
  max-width: 55rem;
}


.m-postOverview__main {
  display: flex;
  /* min-width: 20rem; */
  max-width: 50rem;
}

.m-postOverview__userImage {
  margin: 2pt;
}

.m-postOverview__contentSide {
  padding-inline: 10pt;
  width: 100%;
}

.m-postOverview__content {
  position: relative;
}

/* Unexpanded (folded) reply-parent's should be truncated, so the response itself is uncluttered */
.m-postOverview.-reply-parent>div>.m-postOverview__contentSide:not(.-expanded)>.m-postOverview__content.-present {
  max-height: 10rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  line-clamp: 10;
  -webkit-box-orient: vertical;
}

/* Cover reply-parent's folded content with gradient if not expanded */
.m-postOverview.-reply-parent>div>.m-postOverview__contentSide:not(.-expanded)>.m-postOverview__content.-present::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /* height: 10rem; */
  top: 40%;
  background: linear-gradient(to bottom,
      rgba(59, 59, 59, 0) 0%,
      var(--color-timeline-bg) 85%);
  z-index: 1;
}

/* If the reply-parent's content is folded, we don't want to bother with any buttons */
.m-postOverview.-reply-parent:has(>div>.m-postOverview__contentSide:not(.-expanded))>.m-postOverview__buttonBar {
  display: none;
}

.m-postOverview__contentSide>* {
  word-wrap: break-word;
  word-break: break-all;
}

.a-userNameHandle__displayName {
  font-weight: bold;
}

.m-postOverview__comments {
  padding-left: 2rem;
}


.m-newPostForm__replyToText {
  font-weight: bold;
}

.m-newPostForm__emojiButton {
  padding-left: 1rem;
  padding-right: 1rem;
}

.m-newPostForm__emojiBar.-hidden {
  display: none;
}

emoji-picker {
  width: 100%;
}

.m-postOverview__content {
  word-break: break-word;
}

.m-postOverview__content.-missing {
  color: red;
  font-style: italic;
}

.m-postOverview__buttonBar {
  display: flex;
  justify-content: flex-end;
  gap: 5pt;
}

.m-postOverview__commentsButtonIcon {
  background: url('/assets/icons/comment.svg') center/contain no-repeat;
}

.m-postOverview__replyToButtonIcon {
  background: url('/assets/icons/reply.svg') center/contain no-repeat;
}

.m-profileSummary {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
}

.m-profileSummary__userImage {
  margin: 2pt;
}

.m-profileSummary.-edit .m-profileSummary__userImage:hover {
  filter: blur(2px);
}

.m-profileSummary__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  width: 100%;
}

.m-profileSummary__displayName {
  font-weight: 700;
  height: 1.1rem;
  line-height: 1.1rem;
  vertical-align: middle;
  font-size: 1rem;
}

.m-profileSummary__bio {
  /* min-height: 200px; */
  /* min-width: 100%; */
  width: 100%;
}

.m-profileSummary__buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.m-profileSummary__copyButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.m-profileSummary__copyButtonIcon {
  background: url('/assets/icons/id-card.svg') center/contain no-repeat;
}

.m-profileSummary__copyButton:hover .m-profileSummary__copyButtonIcon {
  background-image: url('/assets/icons/copy.svg');
}

.m-profileSummary__copyButton.-active .m-profileSummary__copyButtonIcon {
  background-image: url('/assets/icons/circle-check.svg') !important;
}

.m-profileSummary__editButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.m-profileSummary__editButtonIcon {
  background: url('/assets/icons/pen-to-square.svg') center/contain no-repeat;
}

.m-profileSummary__saveButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.m-profileSummary__saveButtonIcon {
  background: url('/assets/icons/upload.svg') center/contain no-repeat;
}

.m-profileSummary__logoutButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.m-profileSummary__logoutButtonIcon {
  background: url('/assets/icons/arrow-right-from-bracket.svg') center/contain no-repeat;
}

.m-newPostForm {
  display: flex;
  flex-direction: column;
  justify-items: flex-end;
  gap: 5pt;
}


.m-newPostForm__content {
  padding: 5pt;
  height: 10rem;
  border: 1px solid var(--color-timeline-item-border);
  border-radius: 4pt;
}

.m-newPostForm__footer {
  display: flex;
  justify-content: flex-end;
  gap: 5pt;
}

.m-newPostForm__postButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.m-newPostForm__postButtonIcon {
  background: url('/assets/icons/upload.svg') center/contain no-repeat;
}

.m-addFolloweeForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.m-addFolloweeForm__content {
  border: 1px solid var(--color-timeline-item-border);
  border-radius: 4pt;
  flex-grow: 1;
  /* width: 100%; */
  /* min-width: 100%; */
}

.m-addFolloweeForm__bottomBar {
  display: flex;
  gap: 5pt;
}


.m-addFolloweeForm__followButtonIcon {
  background: url('/assets/icons/upload.svg') center/contain no-repeat;
}

.m-profileSummary__followButtonIcon {
  background: url('/assets/icons/upload.svg') center/contain no-repeat;
}

.m-profileSummary__unfollowButtonIcon {
  background: url('/assets/icons/upload.svg') center/contain no-repeat;
}

.o-unlockScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  padding: 1rem;
  /* min-height: 100vh; */
  /* min-width: 100vw; */
}

.o-unlockScreen__form {
  padding: clamp(0px, 2.5vw, 2rem) clamp(0px, 5vw, 4rem);
  border: solid 1px;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.o-unlockScreen__header>* {
  padding-top: 4pt;
  padding-bottom: 4pt;
}

.o-unlockScreen__fakeUsername {
  display: none;
}

.o-unlockScreen__idLine {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 5pt;
}

.o-unlockScreen__id {
  flex-grow: 1;
}

.o-unlockScreen__mnemonicLine {
  display: flex;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 5pt;
}

.o-unlockScreen__mnemonic {
  flex-grow: 1;
}

.o-unlockScreen__unlockLine {
  display: flex;
  gap: 5pt;
}

.o-unlockScreen__unlockButtonIcon {
  background: url('/assets/icons/right-to-bracket.svg') center/contain no-repeat;
}

.o-unlockScreen__roButtonIcon {
  background: url('/assets/icons/circle-xmark.svg') center/contain no-repeat;
}

.o-unlockScreen__generateButtonIcon {
  background: url('/assets/icons/dice.svg') center/contain no-repeat;
}

.o-mainBarTimeline {
  position: static;
}

.o-mainBarTimeline__tabs {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 4rem repeat(auto-fit, minmax(200px, 4fr));
  align-items: center;

  position: sticky;
  /* 0 + border */
  top: 1;

  z-index: 100;
  background-color: var(--color-timeline-bg);
  border-bottom: 1px solid var(--color-timeline-item-border);
}

.o-mainBarTimeline__tabs>* {
  font-weight: 600;

  padding: clamp(0px, 1vw, 0.5rem) clamp(0px, 2vw, 2rem);
  text-align: center;
}

.o-mainBarTimeline__tabs>*:not(.-active) {
  background-color: var(--color-post-highlight-bg);
}


/* TOGGLE SWITCH CHECKBOXES */
.switch {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.5rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: calc(1.5rem - 2 * 4px);
  width: calc(1.5rem - 2 * 4px);
  left: 6px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(calc(1.5rem - 4px));
  -ms-transform: translateX(calc(1.5rem - 4px));
  transform: translateX(calc(1.5rem - 4px));
}

/* Rounded sliders */
.slider.round {
  border-radius: 2rem;
}

.slider.round:before {
  border-radius: 50%;
}