
:root {
 --background-border-color: rgb(217, 217, 232);
 --link-color: oklch(33.68% 0.1567 257.82);
 --link-hover-color: oklch(33.68% 0.1567 351.52);
}

* { margin: 0; padding: 0; box-sizing: border-box; }

body {
  font-family: sans-serif;
}

pre { font-family: monospace; }

a {
  color: var(--link-color);
  text-decoration: none;
  position: relative;
  transition: color 0.2s;
}

/* Underline effect on hover */
a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: currentColor;
  transform: scaleX(0);
  transition: transform 0.2s;
}

a:hover {
  color: var(--link-hover-color);  /* Darker blue */
}

a:hover::after {
  transform: scaleX(1);
}


/* Active/clicked state */
a:active {
  color: red;  /* Very dark blue */
}

.u-button {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  min-width: 5rem;
  padding: 0.1rem .25rem;
}

.u-buttonIcon {
  width: 1rem;
  height: 1rem;
  display: inline-block;
}

[disabled] > .u-buttonIcon {
  opacity: 0.6;
}

.o-pageLayout {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.o-navBar {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10pt;
  padding: 5pt;
  position: sticky;
  top: 0;
  align-self: start;
}

.o-navBar__list {
  display: flex;
  gap: 4pt;
}

.o-navBar__item {
  display: block;
}

.o-navBar__header {
  font-weight: bold;
}

.o-mainBar {
  flex: 3;
  flex-grow: 3;
  padding: 4pt;
}

.o-mainBar__newPostsAlert {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 100;
  background: white;
  padding: 4pt;
  border: 1px solid var(--background-border-color);

}

.o-mainBar__newPostsAlert.-hidden {
  display: none;
}

.o-mainBarTimeline {
  /* border-inline: 1px solid gray; */
  background: oklch(95.12% 0 117.53);


  padding: 4pt;
  border: 1px solid var(--background-border-color);
}

.o-mainBarTimeline__item.-empty {
  display: none;
}

.o-mainBarTimeline__item.-preview .m-postOverview {
  opacity: 0.6;
}

.o-mainBarTimeline > .o-mainBarTimeline__item:not(:last-child) {
  border-bottom: 1px solid var(--background-border-color);
}

.o-mainBarTimeline__item {
  padding-top: 4pt;
  padding-bottom: 4pt;
}

.o-mainBar__item {
  padding: 10pt;
  border-bottom: 1px solid gray;
}

.o-sideBar {
  flex: 1;
  padding: 10pt;
}


.m-postOverview__main {
  display: flex;
  min-width: 20rem;
}

.m-postOverview__userImage {
  width: 32pt;
  height: 32pt;
  margin: 2pt;
}

.m-postOverview__contentSide {
  padding-inline: 10pt;
}

.m-postOverview__contentSide > * {
  word-wrap: break-word;
  word-break: break-all;
}

.m-postOverview__username {
  font-weight: bold;
}


.m-postOverview__content {
}

.m-postOverview__content p {
  margin-top: 5pt;
  margin-bottom: 5pt;
}

.m-selfAccount {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.m-selfAccount__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.m-selfAccount__displayName {
  font-weight: 700;
  height: 1.1rem;
  line-height: 1.1rem;
  vertical-align: middle;
  font-size: 1rem;
}

.m-selfAccount__bio {
  min-height: 200px;
  min-width: 100%;
}

.m-selfAccount__buttons {
  display: flex;
  gap: 0.5rem;
}

.m-selfAccount__copyButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.1rem .25rem;
}

.m-selfAccount__copyButtonIcon {
  background: url('/assets/icons/id-card.svg') center/contain no-repeat;
}

.m-selfAccount__copyButton:hover .m-selfAccount__copyButtonIcon {
  background-image: url('/assets/icons/copy.svg');
}

.m-selfAccount__copyButton.-active .m-selfAccount__copyButtonIcon {
  background-image: url('/assets/icons/circle-check.svg') !important;
}

.m-selfAccount__editButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.1rem .25rem;
}

.m-selfAccount__editButtonIcon {
  background: url('/assets/icons/pen-to-square.svg') center/contain no-repeat;
}

.m-selfAccount__saveButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.1rem .25rem;
}

.m-selfAccount__saveButtonIcon {
  background: url('/assets/icons/upload.svg') center/contain no-repeat;
}

.m-selfAccount__logoutButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.1rem .25rem;
}

.m-selfAccount__logoutButtonIcon {
  background: url('/assets/icons/arrow-right-from-bracket.svg') center/contain no-repeat;
}

.m-newPostForm {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5pt;
}

.m-newPostForm__content {
  padding: 5pt;
  min-height: 200px;
  min-width: 100%;
  width: 100%;
  border: 1px solid var(--background-border-color);
  border-radius: 4pt;
}

.m-newPostForm__footer {
  display: flex;
  justify-content: flex-end;
  gap: 5pt;
}

.m-newPostForm__postButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.1rem .25rem;
}

.m-newPostForm__postButtonIcon {
  background: url('/assets/icons/upload.svg') center/contain no-repeat;
}

.m-addFolloweeForm {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5pt;
}

.m-addFolloweeForm__content {
  border: 1px solid var(--background-border-color);
  border-radius: 4pt;
  min-width: 100%;
}

.m-addFolloweeForm__followButton {
}

.m-addFolloweeForm__followButtonIcon {
  background: url('/assets/icons/upload.svg') center/contain no-repeat;
}

.o-unlockScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

.o-unlockScreen__form {
  padding: 2rem;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);

  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.o-unlockScreen__header > * {
  padding-top: 4pt;
  padding-bottom: 4pt;
}

.o-unlockScreen__fakeUsername {
  display: none;
}

.o-unlockScreen__idLine {
  display: flex;
  gap: 5pt;
}
.o-unlockScreen__id {
  flex-grow: 1;
}

.o-unlockScreen__mnemonicLine {
  display: flex;
  gap: 5pt;
}

.o-unlockScreen__mnemonic {
  flex-grow: 1;
}

.o-unlockScreen__unlockLine {
  display: flex;
  gap: 5pt;
}

.o-unlockScreen__unlockButtonIcon {
  background: url('/assets/icons/right-to-bracket.svg') center/contain no-repeat;
}

.o-unlockScreen__roButtonIcon {
  background: url('/assets/icons/circle-xmark.svg') center/contain no-repeat;
}

.o-unlockScreen__generateButtonIcon {
  background: url('/assets/icons/dice.svg') center/contain no-repeat;
}
