* { margin: 0; padding: 0; box-sizing: border-box; }

.o-pageLayout {
  display: flex;
  width: 100%;
  height: 100vh;
}

.o-navBar {
  flex: 1;
  padding: 10pt;
}

.o-navBar__list {
  display: block;
}

.o-navBar__item {
  display: block;
}

.o-mainBar {
  flex: 3;
  flex-grow: 3;
  border-inline: 1px solid gray;
  background: oklch(95.12% 0 117.53);
}

.o-mainBar__item {
  padding: 10pt;
  border-bottom: 1px solid gray;
}

.o-sideBar {
  flex: 1;
  padding: 10pt;
}



.m-postOverview__main {
  display: flex;
}

.m-postOverview__userImage {
  width: 32pt;
  height: 32pt;
  margin: 2pt;
}

.m-postOverview__contentSide {
  padding-inline: 10pt;
}

.m-postOverview__username {
  font-weight: bold;
}

.m-postOverview__content {
}

.m-postOverview__content p {
  margin-top: 5pt;
  margin-bottom: 5pt;
  /* margin-inline: 10pt; */
  /* display: block; */
}
